<h1>Sign In</h1>

<form action= <%= session_url %> method="post">
  <label for="username">Username</label>
  <input id="username" type="text" name="user[user_name]">

  <label for="password">Password</label>
  <input id="password" type="text" name="user[password]">

  <button type="submit" name="button">Submittttttttt</button>
</form>
